@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin:300,400');

p {
	font-family: 'Libre Franklin', 'Open Sans', sans-serif;
	font-weight:300;
}

.gentrification-byline {
	font-size:14px;
	font-style: italic;
	color: #777;
	text-align: left;
}

.gentrification-subtitle {
	font-size: 32px;
}

h1 {
	text-align: left;
}

p.post-meta {
	text-align: left;
}

.share_btn {
	display: none;
}

.gentrification-blockquote {
	text-align: center;
	font-size: 26px;
	font-family: 'Libre Baskerville', 'Playfair Display', serif;
	margin: 50px 0px;
}

.gentrification-dropcap {
	font-family: 'Libre Baskerville', 'Playfair Display', serif;
	font-size: 55px;
	font-weight: 700;
	float: left;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 11px;
	padding-bottom: 5px;
}

.gentrification-img-resize {
	width: 50%;
	text-align:center;
	margin-left:0px;
}

.gentrification-h2 {
	font-size: 32px;
    font-family: 'Libre Baskerville', 'Playfair Display', sans-serif;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
    font-weight: 300;
}