
<!--<div class="share_btn">
	<span class='st_facebook_large' displayText='Facebook'></span>
	<span class='st_twitter_large' displayText='Tweet'></span>
</div>-->

<div class="logo-join">

	  <h3 class="chronicle-logo">
	  		<a href="http://chronicle.digital/" target="_blank">
	  			<img class="chronicle-logo footer-boder-remove" src="/newsroom-stories/img/assets/chronicle.jpg" alt="Chronicle" title="Chronicle">
	  		</a>
	  </h3>
	  
	  <h3 class="c4sa-logo">
			<a href="http://code4sa.org/" target="_blank">
			  	<img class="footer-boder-remove" src="/newsroom-stories/img/assets/small-logo.png" alt="Code for South Africa" title="Code for South Africa" />
			</a>
	  </h3>

</div>